<div class="container">
  <div class="row">
    <div class="col-md-3 text-center avatar-box">
      <div class="avatar-circle">
        <div class="avatar" style="background-image: url(<%= @user.profile.avatar.url(:large) %>)"></div>
      </div>
    </div>
    <div class="col-md-6">
      <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
      <h3><%= job_title_icon %> <%= @user.profile.job_title %></h3>
      <% if current_user.plan_id %>
        <p><i>Phone:</i> <%= @user.profile.phone_number %></p>
        <p><i>Email:</i> <%= @user.profile.contact_email %></p>
      <% end %>
      <div class="well profile-description">
        <p><%= @user.profile.description %></p>
      </div>
    </div>
  </div>
</div>

<br/>